<div class="container">
    <div class="head">
        <h1>Wemi<span>X</span></h1>
    </div>
    <mat-card>
        <mat-spinner  color="accent" *ngIf="isLoading"></mat-spinner>
        <form (submit)="sendMail(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
          <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Send</button>
        </form>
      </mat-card>
      <div class="mt-4 text-center">
          <h1 class="mr-4">OR</h1>
          <a routerLink = "/login" class="mr-5">Back to Login</a>   
          <button routerLink = "/signup" class="btn btn-outline-dark">Join Us</button>
          <a routerLink = "/forgot-password" class="ml-5">Forgot password?</a>   
      </div>
   
</div>

