mat-form-field {
    width: 100%;
    color: white;
  }
.container{
    margin-top: 7%;
    background: #673ab7;
    color: white;
    span{
        font-size: 45px;
        color: dodgerblue;
    }

}

.insider{
    margin-top: 3%;
}