<app-header></app-header>
<div class="container rounded">
   
    <div class="text-center mt-5 p-4">
        <h1>Welcome</h1>
        <span>{{name}}</span>
    </div>
    <div class="p-4">
        <h1>URL Shrinker</h1>
        <form (submit)="getShrink(urlForm)" #urlForm="ngForm">
            <mat-form-field>
              <input matInput name="url" ngModel type="url" placeholder="Url" #urlInput="ngModel" required url>
              <mat-error *ngIf="urlInput.invalid">Please enter a valid url.</mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">Send</button>
          </form>
    </div>

</div>

<div *ngIf ="isData" class="row">
    <div class=" insider col-lg-5 mx-auto">
        <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let i of surl.shortUrlData; let j = index">
                    <td style="overflow: auto;">
                      {{i.longUrl}}
                    </td>
                  <td>
                      <a href="{{i.shortUrl}}" target="_blank">{{i.shortUrl}}</a>
                  </td>
                  <td>
                      {{i.clicks}}
                  </td>
                </tr>
           
            </tbody>
          </table>
      </div>
</div>

  


