mat-form-field {
    width: 100%;
  }
  
  mat-spinner {
    margin: auto;
  }


.container{
    
    padding: 15%;
    .head{
        span{
            font-size: 30px;
            color: #673ab7;
        }
    }
}
  