<div class="container">
    <div class="head">
        <h1>Wemi<span>X</span></h1>
    </div>
    <mat-card class="insider">
        <mat-spinner color="primary" *ngIf="isLoading"></mat-spinner>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
          <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
          </mat-form-field>
          <mat-form-field class="mb-3">
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Signup</button>
        </form>
      </mat-card>
      <div class="mt-4 text-center">
        <h1>Already a User?</h1>
        <a routerLink = "/expired" class="mr-5">Link expired?</a>
        <button routerLink = "/login" class="btn btn-outline-dark">Login</button>      
        <a routerLink = "/forgot-password" class="ml-5">Forgot password?</a>
    </div>
</div>

  